* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Karla", sans-serif;
}

:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

.navbar,
.about-us,
.work-section,
.footer {
  max-width: 1100px;
  margin: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
  padding: 10px;
  background: #fff;
  height: 60px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 85%;
    padding-inline: 0;
    max-width: 1100px;
  }
}

.navbar .mobile-menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar .mobile-menu {
    display: none;
  }
}

.navbar .mobile-menu .close-icon {
  display: none;
}

.navbar .mobile-menu .menu-icon {
  display: block;
}

.navbar .mobile-menu .open {
  display: block;
}

.navbar .mobile-menu .close {
  display: none;
}

.navbar .active {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 60px;
  left: 0;
  text-align: center;
  background: var(--Very-Dark-Violet);
  z-index: 100;
  overflow-y: hidden;
}

.navbar .active li a {
  color: #fff;
  font-weight: 700;
  padding: 15px 0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.navbar .active li a:first-child {
  margin-top: 30px;
}

.navbar .active li a:last-child {
  border: 1px solid #fff;
  width: 90%;
  margin: auto;
  position: relative;
}

.navbar .active li a:last-child::after {
  content: "";
  position: absolute;
  top: -80px;
  left: -10px;
  background: url("/images/bg-pattern-mobile-nav.svg") no-repeat center center/contain;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 608px) {
  .navbar .active li a:last-child::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar .active {
    display: none;
  }
}

.navbar .navlinks {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar .navlinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navlinks li a {
    padding-right: 20px;
    color: var(--Dark-Grayish-Violet);
    font-weight: 400;
  }
  .navbar .navlinks li a:hover {
    color: var(--Dark-Violet);
  }
  .navbar .navlinks .plans-btn a {
    display: inline-block;
    text-align: center;
    padding: 6px 8px;
    border: 1px solid var(--Dark-Violet);
    color: var(--Dark-Violet);
    text-transform: uppercase;
    font-size: 14px;
  }
  .navbar .navlinks .plans-btn a:hover {
    background: var(--Dark-Violet);
    color: #fff;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--Dark-Violet);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow-x: clip;
}

@media screen and (min-width: 768px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    padding-inline: 10%;
  }
}

.hero .desktop-img {
  display: none;
}

@media screen and (min-width: 501px) {
  .hero .desktop-img {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .hero .desktop-img {
    position: absolute;
    width: 45%;
    max-width: 500px;
    max-height: 1000px;
    height: 100%;
    top: 20%;
    right: 10%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.hero .mobile-img {
  width: 100%;
}

@media screen and (min-width: 501px) {
  .hero .mobile-img {
    display: none;
  }
}

.hero .hero-left {
  color: #fff;
  margin: auto;
  margin-top: -5px;
  text-align: center;
  padding: 12% 7%;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .hero .hero-left {
    width: 60%;
    margin-top: 0;
    text-align: left;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin: unset;
  }
}

.hero .hero-left .title {
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 6rem);
  line-height: 0.9;
  font-family: "DM Serif Display", serif;
}

.hero .hero-left .desc {
  line-height: 1.5;
  padding: 15px 0;
}

.hero .hero-left .plans-btn a {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 1px;
}

.hero .hero-left .plans-btn a:hover {
  background: #fff;
  color: var(--Dark-Violet);
}

.hero .hero-left::before {
  content: "";
  position: absolute;
  height: 120px;
  width: 120px;
  background: url("/images/bg-pattern-intro-left-mobile.svg") no-repeat center center/contain;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .hero .hero-left::before {
    display: none;
  }
}

.hero .hero-left::after {
  content: "";
  position: absolute;
  height: 250px;
  width: 250px;
  background: url("/images/bg-pattern-intro-right-mobile.svg") no-repeat center center/contain;
  bottom: -120px;
  right: 0;
  margin-right: -70px;
}

@media screen and (min-width: 768px) {
  .hero .hero-left::after {
    display: none;
  }
}

.hero::before {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero::before {
    display: block;
    content: "";
    position: absolute;
    height: 500px;
    width: 500px;
    background: url("/images/bg-pattern-intro-left-desktop.svg") no-repeat center center/contain;
    left: -150px;
    bottom: -200px;
    margin-right: -50px;
  }
}

.hero::after {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero::after {
    display: block;
    content: "";
    position: absolute;
    height: 400px;
    width: 400px;
    background: url("/images/bg-pattern-intro-right-desktop.svg") no-repeat center center/contain;
    right: 0;
    top: 0;
    margin-right: -50px;
  }
}

.about-us {
  text-align: center;
  width: 90%;
  margin: 15% auto;
  margin-bottom: 5%;
}

@media screen and (min-width: 768px) {
  .about-us {
    text-align: left;
  }
}

.about-us .title {
  font-size: 35px;
  position: relative;
  padding: 40px;
  font-family: "DM Serif Display", serif;
}

@media screen and (min-width: 768px) {
  .about-us .title {
    padding: 20px 0;
  }
}

.about-us .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .about-us .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.about-us .features img {
  width: 100px;
}

.about-us .features h3 {
  font-size: 25px;
  padding: 10px 0;
  font-family: "DM Serif Display", serif;
}

.about-us .features p {
  line-height: 1.5;
  color: var(--Grayish-Blue);
}

.about-us .features li {
  padding: 20px 0;
}

.work-section {
  background: var(--Dark-Violet);
  width: 90%;
  margin: auto;
  padding: 10% 0;
  text-align: center;
  color: #fff;
  position: relative;
}

@media screen and (min-width: 768px) {
  .work-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.work-section h2 {
  font-size: clamp(2.4rem, 5vw, 4rem);
  width: 70%;
  margin: auto;
  line-height: 1;
  font-family: "DM Serif Display", serif;
}

@media screen and (min-width: 768px) {
  .work-section h2 {
    width: 50%;
    text-align: left;
  }
}

.work-section .work-btn {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  border: 1px solid #fff;
  text-transform: uppercase;
  margin: 30px 0;
  margin-right: 10%;
  font-weight: 700;
  z-index: 1;
}

.work-section .work-btn:hover {
  background: #fff;
  color: var(--Dark-Violet);
}

.work-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  background: url("/images/bg-pattern-how-we-work-mobile.svg  ") no-repeat center center/contain;
  width: 200px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .work-section::after {
    background: url("/images/bg-pattern-how-we-work-desktop.svg  ") no-repeat center center/cover;
    width: 40%;
    height: 100%;
    right: 0;
    z-index: 0;
  }
}

.footer {
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 10% 0;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
  }
}

.footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-top img {
  margin: 20px 10px;
}

@media screen and (min-width: 768px) {
  .footer .footer-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid var(--Grayish-Blue);
  }
}

.footer .footer-bottom {
  text-transform: uppercase;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}

.footer .footer-bottom h3 {
  color: var(--Grayish-Blue);
  margin: 25px 0;
  font-family: "DM Serif Display", serif;
}

.footer .footer-bottom li {
  padding-bottom: 10px;
  font-weight: 700;
}

.footer .footer-bottom li:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */