* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none;
	// font-family: "DM Serif Display", serif;
	font-family: "Karla", sans-serif;
}

:root {
	--Dark-Violet: hsl(256, 26%, 20%);
	--Grayish-Blue: hsl(216, 30%, 68%);
	--Very-Dark-Violet: hsl(270, 9%, 17%);
	--Dark-Grayish-Violet: hsl(273, 4%, 51%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
}

.navbar,
.about-us,
.work-section,
.footer {
	max-width: 1100px;
	margin: auto;
}
// body {
// 	overflow: hidden;
// }
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
	padding: 10px;
	background: #fff;
	height: 60px;
	position: relative;

	@media screen and (min-width: 768px) {
		width: 85%;
		padding-inline: 0;
		max-width: 1100px;
	}

	.mobile-menu {
		display: block;
		@media screen and (min-width: 768px) {
			display: none;
		}

		.close-icon {
			display: none;
		}

		.menu-icon {
			display: block;
		}

		.open {
			display: block;
		}

		.close {
			display: none;
		}
	}
	// .fixed {
	// 	position: fixed;
	// }

	.active {
		// display: none;
		position: fixed;
		width: 100%;
		// height: calc(100vh - 100px);
		height: 100vh;
		// height: 100vh;
		top: 60px;
		// bottom: 0;
		left: 0;
		text-align: center;
		background: var(--Very-Dark-Violet);
		z-index: 100;

		overflow: hidden;

		li {
			font-weight: 700;
			padding: 15px 0;
			text-transform: uppercase;
			margin-bottom: 20px;
		}

		li a {
			color: #fff;
		}
		li:first-child {
			margin-top: 30px;
		}

		li:last-child {
			border: 1px solid #fff;
			width: 90%;
			margin: auto;
			position: relative;
		}

		li:last-child::after {
			content: "";
			position: absolute;
			top: -80px;
			// bottom: 0;
			left: -10px;
			// background: url();
			background: url("/images/bg-pattern-mobile-nav.svg") no-repeat center
				center / contain;
			width: 100vw;
			height: 100vh;
			@media screen and (min-width: 608px) {
				display: none;
			}
		}
		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	.navlinks {
		display: none;

		@media screen and (min-width: 768px) {
			display: flex;
			align-items: center;
			li a {
				padding-right: 20px;
				color: var(--Dark-Grayish-Violet);
				font-weight: 400;
			}

			li a:hover {
				color: var(--Dark-Violet);
			}
			.plans-btn a {
				display: inline-block;
				text-align: center;
				padding: 6px 8px;
				border: 1px solid var(--Dark-Violet);
				color: var(--Dark-Violet);
				text-transform: uppercase;
				font-size: 14px;
				// margin: 10px 0;
			}

			.plans-btn a:hover {
				background: var(--Dark-Violet);
				color: #fff;
			}
		}
	}
}

.hero {
	display: flex;
	background: var(--Dark-Violet);
	flex-direction: column-reverse;
	overflow-x: clip;

	@media screen and (min-width: 768px) {
		flex-direction: row;
		position: relative;
		padding-inline: 10%;
	}
	.desktop-img {
		display: none;
		@media screen and (min-width: 501px) {
			display: block;
			width: 100%;
		}
		@media screen and (min-width: 768px) {
			position: absolute;
			width: 45%;
			max-width: 500px;
			max-height: 1000px;
			height: 100%;
			top: 20%;
			right: 10%;
			object-fit: contain;
		}
	}
	.mobile-img {
		width: 100%;

		img {
			object-fit: contain;
		}
		@media screen and (min-width: 501px) {
			display: none;
		}
	}

	.hero-left {
		// width: 80%;
		color: #fff;
		margin: auto;
		margin-top: -5px;
		text-align: center;
		padding: 12% 7%;
		position: relative;
		overflow: hidden;

		@media screen and (min-width: 768px) {
			width: 60%;
			margin-top: 0;
			text-align: left;
			align-self: start;
			margin: unset;
		}
		// @media screen and (min-width: 1100px) {
		// 	width: 100%;
		// 	margin-top: 0;
		// }

		.title {
			font-weight: 400;
			font-size: clamp(2rem, 5vw, 6rem);
			line-height: 0.9;
			font-family: "DM Serif Display", serif;
		}

		.desc {
			line-height: 1.5;
			padding: 15px 0;
		}

		.plans-btn a {
			display: inline-block;
			text-align: center;
			padding: 10px 15px;
			border: 1px solid #fff;
			color: #fff;
			text-transform: uppercase;
			margin: 10px 0;
			letter-spacing: 1px;
		}

		.plans-btn a:hover {
			background: #fff;
			color: var(--Dark-Violet);
		}
	}

	.hero-left::before {
		content: "";
		position: absolute;
		height: 120px;
		width: 120px;
		background-image: url("/images/bg-pattern-intro-left-mobile.svg");
		background: url("/images/bg-pattern-intro-left-mobile.svg") no-repeat center
			center / contain;
		top: 0;
		left: 0;

		@media screen and (min-width: 768px) {
			// background: url("/images/bg-pattern-intro-left-desktop.svg") no-repeat
			// 	center center / contain;
			// width: 400px;
			// height: 400px;
			// margin-left: -200px;
			// // bottom: 0;
			// top: unset;
			// bottom: -150px;
			// z-index: 1;
			display: none;
		}
	}
	.hero-left::after {
		content: "";
		position: absolute;
		height: 250px;
		width: 250px;
		background: url("/images/bg-pattern-intro-right-mobile.svg") no-repeat
			center center / contain;
		bottom: -120px;
		right: 0;
		margin-right: -70px;

		@media screen and (min-width: 768px) {
			display: none;
		}
	}
}
.hero::before {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		content: "";
		position: absolute;
		height: 500px;
		width: 500px;
		background: url("/images/bg-pattern-intro-left-desktop.svg") no-repeat
			center center / contain;
		// bottom: -120px;
		left: -150px;
		bottom: -200px;
		margin-right: -50px;

		// background: url("/images/bg-pattern-intro-left-desktop.svg") no-repeat
		// 		center center / contain;
		// 	width: 400px;
		// 	height: 400px;
		// 	margin-left: -200px;
		// 	// bottom: 0;
		// 	top: unset;
		// 	bottom: -150px;
		// 	z-index: 1;
	}
}
.hero::after {
	display: none;
	@media screen and (min-width: 768px) {
		display: block;
		content: "";
		position: absolute;
		height: 400px;
		width: 400px;
		background: url("/images/bg-pattern-intro-right-desktop.svg") no-repeat
			center center / contain;
		// bottom: -120px;
		right: 0;
		top: 0;
		margin-right: -50px;
	}
}

.about-us {
	text-align: center;
	width: 90%;
	margin: 15% auto;
	margin-bottom: 5%;

	@media screen and (min-width: 768px) {
		text-align: left;
	}

	.title {
		// width: 90%;
		font-size: 35px;
		position: relative;
		padding: 40px;
		font-family: "DM Serif Display", serif;

		@media screen and (min-width: 768px) {
			padding: 20px 0;
		}
	}
	// .title::before {
	// 	content: "";
	// 	position: absolute;
	// 	// top: 0;
	// 	left: 30%;

	// 	width: 150px;
	// 	margin: auto;
	// 	height: 1px;
	// 	background: var(--Dark-Grayish-Violet);
	// }
	.features {
		display: flex;
		flex-direction: column;
		gap: 10px;

		@media screen and (min-width: 768px) {
			flex-direction: row;
		}
		img {
			width: 100px;
		}
		h3 {
			font-size: 25px;
			padding: 10px 0;
			font-family: "DM Serif Display", serif;
		}
		p {
			line-height: 1.5;
			color: var(--Grayish-Blue);
		}
		// display: flex;
		li {
			padding: 20px 0;
		}
	}
}

.work-section {
	background: var(--Dark-Violet);
	width: 90%;
	margin: auto;
	padding: 10% 0;
	text-align: center;
	color: #fff;
	position: relative;
	// max-height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 768px) {
		// text-align: left;
		flex-direction: row;
		// padding: 0 50px;
	}
	h2 {
		font-size: clamp(2.4rem, 5vw, 4rem);
		width: 70%;
		margin: auto;
		line-height: 1;
		font-family: "DM Serif Display", serif;

		@media screen and (min-width: 768px) {
			// width: 50%;
			margin-left: 10%;
			text-align: left;
		}
	}
	.work-btn {
		display: inline-block;
		text-align: center;
		padding: 10px 15px;
		border: 1px solid #fff;
		text-transform: uppercase;
		margin: 30px 0;
		// height: 30px;
		font-weight: 700;
		overflow: hidden;
		min-width: 200px;
		z-index: 1;

		@media screen and (min-width: 768px) {
			margin-right: 10%;
		}
	}
	.work-btn:hover {
		background: #fff;
		color: var(--Dark-Violet);
	}
}

.work-section::after {
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	background: url("/images/bg-pattern-how-we-work-mobile.svg  ") no-repeat
		center center / contain;
	width: 200px;
	height: 100%;
	
	@media screen and (min-width: 768px) {
		z-index: 0;	
		right: 0;
		background: url("/images/bg-pattern-how-we-work-desktop.svg  ") no-repeat
			center center / cover;
		width: 40%;
		height: 100%;
		// display: none;
	}
}

.footer {
	width: 70%;
	margin: auto;
	text-align: center;
	padding: 10% 0;

	@media screen and (min-width: 768px) {
		width: 90%;
		margin: auto;
		padding-bottom: 5%;
	}
	.footer-top {
		display: flex;
		flex-direction: column;
		// justify-content: space-between;
		align-items: center;

		img {
			margin: 20px 10px;
		}

		@media screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: space-between;
			border-bottom: 1px solid var(--Grayish-Blue);
		}
	}

	.footer-bottom {
		text-transform: uppercase;
		font-size: 14px;

		@media screen and (min-width: 768px) {
			display: flex;
			justify-content: space-between;
			text-align: left;
		}
		h3 {
			color: var(--Grayish-Blue);
			margin: 25px 0;
			font-family: "DM Serif Display", serif;
		}
		li {
			padding-bottom: 10px;
			font-weight: 700;
		}

		li:hover {
			text-decoration: underline;
		}
	}
}
